# Database (SQLite untuk dev lokal; ganti ke PostgreSQL di production)
DATABASE_URL="file:./dev.db"

# Secret untuk sign session JWT (ubah di production!)
AUTH_SECRET="ganti-dengan-string-acak-yang-panjang-dan-rahasia"

# Aplikasi
NEXT_PUBLIC_APP_NAME="ParkirKu"
